@model SwimmingSchool.Web.Models.Member

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                  <form asp-action="Login" asp-controller="Member">
         
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                       <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-4">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
            
                </form>
                   <div class="col pt-4"">  <p class="d-inline">Not a member?</p> <a href="/registration">register here</a></div>
  
            </div>
        </div>
    </div>
</div>

 
