@model List<IGrouping<DateTime, Tuple<AttendanceRecord, Member>>>
@{
    Layout ="_Layout";
}

   <form asp-action="AttendanceReports" asp-controller="Attendance">
           <div class="form-horizontal">

                <div class="form-group form-group-sm">
                    <div class="col-md-8">                 
                       <input type="date" i id="start" name="start" class = "form-control datepicker">
                    </div>
                </div>
                <div class="form-group-sm">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search Date" class="btn btn-default" /> <span> </span>
                    </div>

                </div>
            </div>
   </form>

<table id="attendanceTable">
@foreach(var item in Model){

           <tr> <td>@item.Key</td><br /></tr>
             <tr>
                  
                        <th>Name</th>

                    </tr>
            foreach (var member in item)
            {
                 @Html.Hidden("id", member.Item2.Id)
                  @Html.Hidden("date", item.Key)

                  
                    <tr>
                        <td> @member.Item2.Firstname</td>
                        
                      <form asp-action="RemoveAttendance" asp-controller="Attendance">
                        <input type="submit" value="Remove" class="btn btn-default" />
                     </form>
  
                    </tr>
                           
       
             }
      
} 
</table>
<button class="exportToExcel">Export to XLS</button>
 <script>
        $(function() {
        $(".exportToExcel").click(function(event) {
 
        $("#attendanceTable").table2excel({
            exclude: ".excludeThisClass",
            name: $("#attendanceTable").data("tableName"),
            filename: "StudentTable.xls",
            preserveColors: false
        });
        });
    });

 </script>