html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.fxd {
position:fixed;
bottom:0px;
}

.chck-bx {
    width: 25px;
    height: 25px;
}

.mx-wdth {
    max-width:186px;
}