@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var test = HttpContextAccessor.HttpContext.Session.GetString("AdminUser");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SwimmingSchool.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-table2excel/jquery.table2excel.min.js"></script>
</script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">A&P Swimming</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                              @if (HttpContextAccessor.HttpContext.Session.GetString("AdminUser") != null)
                              { 
                   
                           <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Logout" asp-controller="Admin" asp-action="Index">Logout</a>
                        </li>

                              }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row flex-nowrap">
             @if (HttpContextAccessor.HttpContext.Session.GetString("AdminUser") != null)
            {
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                 

                    <li>
                    
                        <a href="/attendance-reports" class="nav-link px-0 align-middle text-white">

                        <i class="fa fa-book" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline text-white">
                      Attendance Reports
          
                            </span> </a>
                    </li>
                    
                    <li>
                        <a href="/attendance" class="nav-link px-0 align-middle text-white">
                            <i class="fa fa-plus" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline text-white">Create Attendance Report</span> </a>
                    </li>
                    
                    <li>
                        <a href="/members" class="nav-link px-0 align-middle text-white">
                            <i class="fa fa-users" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline text-white">View Members</span> </a>
                    </li>
                </ul>
                <hr>
      
            </div>
                      <div class="dropdown pb-4 fxd">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">@test</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="create-admin">Create Admin</a></li>

                        @*<li><a class="dropdown-item" href="members">View Members</a></li>*@
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="Admin/Logout">Sign out</a></li>
                    </ul>
                </div>
          </div>
          }
          <div class="col py-3">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
